<mat-card>
    <mat-card-content>
        <h2>KLM</h2>
        <p class="subtitle">Frontend Developer - Apr 2018 – Present</p>
        <p>Working on KLM's web and kiosk applications</p>
        <p>Amsterdam, Netherlands</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h2>TCS</h2>
        <p class="subtitle">Frontend Developer - 06/2015 – Present</p>
        <p>Full-stack Developer and have given training to 4 batches consisting of 500+ trainees each</p>
        <p>Chennai, India</p>
    </mat-card-content>
</mat-card>
