<mat-card>
    <mat-card-content>
        <h2>First place in TCS CODU CHALLENGE</h2>
        <p class="subtitle subtitle-image">
            I have earned first place in TCS CODU CHALLENGE 2017 which was
            conducted by code vita about 2000 TCS employees registered, I
            implemented original and innovative solutions for the given problems.</p>
            <div class="codu-image"></div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h2>Mentored a batch of 24 employees at TCS Ignite.</h2>
        <p class="subtitle">I have Trained a team of 24 on angular js, bootstrap, ionic, jquery, javascript,
            HTML, and CSS to two batches each having 24 members and led them to
            complete the project.</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h2>Star Team Award</h2>
        <p class="subtitle">Received Best Team award from TCS for developing and delivering high end
            to end demo</p>
    </mat-card-content>
</mat-card>
